body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, #root, body, #app, #app > div {
    height: 100%;
    overflow:hidden;
   
}
#root{
  overflow: hidden;
  padding: 5px;
}
* {
  color: hsl(272, 36%, 63%);
  background-color:#222;
  box-sizing: border-box;
  font-family:Oxygen;
}
input {
  background-color:#333;
  /* box-shadow:inset 0px 0px 3px black; */
  border-radius: 5px;
  border-style: solid;
  border-color: hsl(272, 36%, 63%);
  height:50px;

}
button {
  /* border-style: solid; */
  border-color: hsl(272, 36%, 63%);
  /* border-bottom-color: #333; */
  /* color: black; */
  font-weight: 900;
  height: 50px;
  /* box-shadow: inset 0px 0px white; */
  border-radius:5px;
}



@media only screen and (min-width: 501px) {
    #root {
        height: 100%;
        overflow-y: hidden;
    }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
